.login {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-pet-supplies-promotion-banner-poster-image_195124.jpg");
}

.row {
  margin: auto;
  justify-content: center;
}

.card {
  background-color: transparent;
  border: none;
}
